.cms {
    .ui-button-icon-primary.ui-icon.btn-icon-cross-circle {
        left: 0 !important;
    }
    .ss-ui-button {
        margin-top: 0;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        background: #eaeaea;
        white-space: nowrap;
        border-radius: 0;
        box-shadow: none;
        &.ui-state-hover, &:hover {
            text-decoration: none;
            box-shadow: none;
        }

        &:active, &:focus, &.ui-state-active, &.ui-state-focus {
            box-shadow: none;
        }

        &.ss-ui-action-minor {
            span {
                padding-left: 0;
                padding-right: 0;
            }
        }

        /* constructive */
        &.ss-ui-action-constructive {
            text-shadow: none;
            font-weight: bold;
        }

        &.ss-ui-action-minor {
            background: none;
            border: 0;
            text-decoration: underline;

            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
        }

    }

    .ui-button-icon-primary {
        display: none !important;
    }

    .ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
        padding: .4em 1em;
    }
}

.cms .ss-ui-button.ss-ui-action-destructive {
    color: white;
}

#Form_EditForm_action_save_siteconfig,
#Form_EditForm_action_save,
#Form_EditForm_action_publish {
    outline: none;
    &.loading {
        &:after {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            content: 'Publishing...';
            background: #23282d;
            border: 1px solid #23282d;
            color: white;
            text-align: center;
            display: block;
            line-height: 27px;
            text-shadow: none;
        }
    }
}

#Form_EditForm_action_save_siteconfig,
#Form_EditForm_action_save {
    outline: none;
    &.loading {
        &:after {
            content: 'Saving...';
        }
    }
}