.cms {
    .field label.left {
        color: #555;
        text-shadow: none;
    }
    .field input.text, .field textarea, .field .TreeDropdownField {
        background: #ffffff;
        border: 1px solid #adadae;
        border-radius: 0;
        &:focus {
            box-shadow: none;
        }
    }
    .ss-uploadfield .middleColumn {
        border-radius: 0;
        background: white;
    }

    .field input.youtube {
        background-image: url('../../images/field-icon-youtube.png') !important;
        background-position: 6px center  !important;
        background-repeat: no-repeat  !important;
        background-size: 28px 20px  !important;
        padding-left: 40px;
    }

}