.cms {
    .cms-content-tools {
        padding-right: 14px !important;
    }
    .cms-content-header {
        background: #FFF !important;
    }
    .cms-content-tools,
    .cms-content-fields,
    .cms-content {
        background: #f1f1f1 !important;
    }
    .cms .ui-tabs-nav li.ui-state-active {
    }
    .profile-link {
        top: 8px !important;
        position: relative;
    }
    .ui-tabs.cms-tabset-primary .ui-tabs-nav .ui-state-active a, .ui-tabs .ui-tabs-nav.cms-tabset-nav-primary .ui-state-active a, .ui-tabs .cms-content-header-tabs .ui-tabs-nav .ui-state-active a {
        margin: 0;
        padding: 0 12px;
        font-weight: 400;
    }
    .ui-tabs.cms-tabset-primary .ui-tabs-nav .ui-state-active a, .ui-tabs .ui-tabs-nav.cms-tabset-nav-primary .ui-state-active a, .ui-tabs .cms-content-header-tabs .ui-tabs-nav .ui-state-active a {
        border-bottom-width: 4px !important;
    }
    .collapsed {
        .toggle-expand {
            span {
                transform: rotate(180deg) translateY(25%) translateX(100%);
            }
        }
        .logout-link {
            display: none;
        }
    }
    .cms-content-tools .cms-panel-content {
        padding: 8px 8px 0px 6px !important;
    }
    .cms-content-tools .cms-panel-header {
        padding-bottom: 11px !important;
    }
    #Form_EditForm_ParentID {
        display: none;
    }
    .ui-tabs .ui-tabs-nav ~ .ui-tabs-panel {
        border-top: 0 !important;
    }
    .tree-holder.jstree-apple a, .tree-holder.jstree-apple a:link, .cms-tree.jstree-apple a, .cms-tree.jstree-apple a:link {
        .text {
            font-weight: 400 !important;
        }
    }
    .cms-content-tools .cms-panel-content {
        padding-right: 0;
    }
    .tree-holder.jstree-apple li, .cms-tree.jstree-apple li {
        position: relative;
    }
    .jstree-hovered {
        background: transparent;
    }
    .jstree-apple .jstree-clicked {
        background: transparent;
        &:after {
            content: '';
            position: absolute;
            display: block;
            height: 100%;
            background: #ced7dc;
            opacity: 0.5;
            top: -1px;
            right: 0;
            width: 400%;
            padding: 1px;
            z-index: -1;
        }
    }
    .cms .cms-content {
        border-right: 0 !important;
    }
    .cms-content-actions, .cms-preview-controls {
        background: #f9f9fb;
        border-top: 1px solid #e5e5e5;
        box-shadow: none;
    }
    .cms-content-fields {
        background: #f9f9fb;
    }
    .cms-content-tools {
        background: #f9f9fb;
    }

    .ui-tabs-nav li.ui-state-default {
        border-radius: 0;
        border: 0;
        margin: 0px;
        margin-right: 1px;
        a {
            text-shadow: none;
        }
    }
    .ui-tabs-nav li.ui-state-active {
        padding: 0;
        a {
            color: white;
        }
    }
    .cms-content-fields.center.cms-panel-content.cms-panel-padded .SelectionGroup.selectiongroup.parent-mode.nolabel li {
        label {
            margin-bottom: 10px;
            display: block;
        }
    }

    .ui-dialog {
        border: 0 !important;
    }
}


