.cms {
    .cms-content-fields {
        background: #fbfbfb;
    }

    .ui-tabs-nav li.ui-state-default {
        border-radius: 0;
        border: 0;
        margin: 0px;
        margin-right: 1px;
        a {
            text-shadow: none;
        }
    }
    .ui-tabs-nav li.ui-state-active {
        padding: 0;
        a {
            color: white;
        }
    }
}
