.cms {
    .ui-tabs.cms-tabset-primary .ui-tabs-nav,
    .ui-tabs .ui-tabs-nav.cms-tabset-nav-primary,
    .ui-tabs .cms-content-header-tabs .ui-tabs-nav {
        border-left: none;
        .ui-state-default {
            background: #ced7dc;
            border-color: #ced7dc;
            outline: none;
            border-left: none;
            border-right: none;
            box-shadow: none;
            border-top: 1px solid transparent;
            a {
                color: #000;
                text-shadow: none;
                font-weight: normal;
            }
        }
        .ui-state-active {
            border-top: none;
            a {
                color: white;
                text-shadow: none;
                font-weight: 600;
                outline: none;
            }
        }
    }

}

.cms {
    .cms-content-header {
        background: #fff;
        border-bottom: 1px solid #d9d9d9;
    }
    .breadcrumbs-wrapper .section-icon {
        display: none;
    }
}
