
.flatcms-tiny-styled {
    .mceToolbar {
        padding: 2px 3px !important;
    }
    .defaultSkin table.mceListBoxEnabled:hover .mceText, .defaultSkin .mceListBoxHover .mceText, .defaultSkin .mceListBoxSelected .mceText {
        outline: none !important;
    }
    .mceListBoxMenu {
        height: auto !important;
        .mceIcon {
            display: none;
        }
    }
    .defaultSkin .mceButton {
        background-color: #f0f0ee;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .mceButtonDisabled:after,
    .mceButtonEnabled:after {
        display: none !important;
    }
    .defaultSkin span.mceIcon {
        background: none;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 2px;
        &:hover {
            background: #fafafa;
            border-color: #999;
            color: #23282d;
            -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, .08);
            box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, .08);
            outline: 1px solid #999;
        }
    }
    .defaultSkin a.mceButtonEnabled:hover {
        border: 1px solid transparent;
        background-color: #f0f0ee;
    }
    .defaultSkin a.mceButtonActive {
        border: 1px solid transparent;
        background-color: #f0f0ee;
        .mceIcon:after {
            color: #00afec !important;
        }
    }
    .mceSeparator {
        background: #ccc !important;
        width: 1px !important;
        margin: 0 5px !important;
    }
    .mce_video {
        img {
            display: none !important;
        }
    }
    .defaultSkin span.mceIcon:after {
        position: absolute;
        text-indent: 0;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
        right: 0;
        margin: 0 auto 0;
        color: #777777;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        display: inline-block;
        width: 1em;
        height: 1em;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
    }
    .mce_bold:after {
        content: '\e238';
    }
    .mce_italic:after {
        content: '\e23f';
    }
    .mce_underline:after {
        content: '\e249';
    }
    .mce_strikethrough:after {
        content: '\e246';
    }
    .mce_video:after {
        content: '\e04b';
    }
    .mce_justifyleft:after {
        content: '\e236';
    }
    .mce_justifyright:after {
        content: '\e237';
    }
    .mce_justifycenter:after {
        content: '\e234';
    }
    .mce_justifyfull:after {
        content: '\e235';
    }
    .mce_bullist:after {
        content: '\e241';
    }
    .mce_numlist:after {
        content: '\e242';
    }
    .mce_blockquote:after {
        content: '\e244';
    }
    .mce_blockquote:after {
        content: '\e244';
    }
    .mce_outdent:after {
        content: '\e23d';
    }
    .mce_indent:after {
        content: '\e23e';
    }
    .mce_undo:after {
        content: '\e166';
    }
    .mce_redo:after {
        content: '\e15a';
    }
    .mce_cut:after {
        content: '\e14e';
    }
    .mce_copy:after {
        content: '\e14d';
    }
    .mce_paste:after {
        content: '\e14f';
    }
    .mce_image:after {
        content: '\e3f4';
    }
    .mce_link:after {
        content: '\e250';
    }
    .mce_hr:after {
        content: '\e15b';
    }
    .mceButtonEnabled .mce_link:after {
        color: #00afec !important;
    }
    .mce_unlink:after {
        content: '\e250';
    }
    .mceButtonEnabled .mce_unlink:after {
        color: #ec4c68 !important;
    }
    .mce_anchor:after {
        content: '\e250';
    }
    .mceButtonEnabled .mce_anchor:after {
        color: #4baf50 !important;
    }
    .mce_code:after {
        content: '\e86f';
    }
    .mce_fullscreen:after {
        content: '\e5d0';
    }
    .mce_table:after {
        content: '\e228';
    }
    .mce_pastetext:after {
        content: '\e14f';
    }
    .mce_youtube:after {
        content: '\e04b';
    }
    .mce_selectall:after {
        content: '\e162';
    }
    a span.mceText {
        font-size: 11px !important;
        font-weight: bold !important;
    }

    .mce_h1 a span.mceText {
        font-size: 17px !important;
        font-weight: bold !important;
    }
    .mce_h2 a span.mceText {
        font-size: 16px !important;
        font-weight: bold !important;
    }
    .mce_h3 a span.mceText {
        font-size: 15px !important;
        font-weight: bold !important;
    }
    .mce_h4 a span.mceText {
        font-size: 14px !important;
        font-weight: bold !important;
    }
    .mce_h5 a span.mceText {
        font-size: 13px !important;
        font-weight: bold !important;
    }
    .mce_h6 a span.mceText {
        font-size: 12px !important;
        font-weight: bold !important;
    }
    .mce_p a span.mceText {
        font-size: 11px !important;
        font-weight: bold !important;
    }
}


