@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic);

body, html, .ui-widget, .ss-ui-button, .ui-widget button, .ui-widget select, .ui-widget textarea, .ui-widget-content, .ui-widget input {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: normal !important;
  text-shadow: none;
}

html * {
  text-shadow: none;
}

.cms span.text {
  font-size: 14px;
  font-weight: 300;
}

.cms .ui-accordion-header a {
  font-size: 12px;
  font-weight: 300;
}