@import url('//fonts.googleapis.com/css?family=Lato:300,400,500,600,700');

body, html, .ui-widget, .ss-ui-button, .ui-widget button, .ui-widget select, .ui-widget textarea, .ui-widget-content, .ui-widget input {
    font-size: 13px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-shadow: none;
}

html * {
    text-shadow: none;
}

.cms span.text {
    font-size: 14px;
    font-weight: 300;
}

.cms .ui-accordion-header a {
    font-size: 12px;
    font-weight: 300;
}